
.AboutUs-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin: 100px auto 0px auto;
    width: 100%;
    height: 100%;
    
    /* background-color: #cdadad; */
    padding: 0 20px;
    width: 60%;
    min-width: 400px;
}
AboutUs-Container h2{
    font-size: 2rem;
    font-weight: 700;
   background-color: aquamarine;
    text-align: center;
    color:rgb(65, 52, 163);

}
.AboutUs-Container .info{
  padding: 0 20px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #4134a3;
    max-width: 70ch;
    
}

/* .topmain h7 {
  
  
  margin-bottom: 2%;
  font-size: larger;
  
}

.topmain h7 {
  
  margin-bottom: 2%;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(92, 83, 161);
} */


button {
  background-color: rgb(65, 52, 163);
  color: aliceblue;
  width: 30%;
  height: 13%;
  
  border-radius: 8px; margin: 5%0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
 
}
button:hover {
  background-color: white;
  color: black;
 
}


main{
    color: rgb(65, 52, 163);
    display: flex;
    margin: 10% 0;
}
.left{
    
     margin-left: 10%; 
}





